<!DOCTYPE html>
<html>
    <head>
        <title>Login - My Play Application</title>
        <link rel="stylesheet" media="screen"      href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="stylesheet" media="screen"      href="@routes.Assets.at("bootstrap/css/bootstrap.min.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("boostrap/js/bootstrap.min.js")"    type="text/javascript"></script>
    </head>
    <body>
        <div class="row">
            <div class="span4 offset4">
                <h1>Login</h1>
            </div>
        </div>
        <div class="row">
            <div class="span4 offset4">
                <form action="/login" method="post" class="form-horizontal">
                    <fieldset>
                        <div class="control-group">
                            <label class="control-label" for="input01">User Name</label>
                            <div class="controls">
                                <input type="text" class="input-xlarge" id="username" name="username">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input01">Password</label>
                            <div class="controls">
                                <input type="password" class="input-xlarge" id="password" name="password">
                                <p class="help-block">
                                    <a href="#">Forgot Your Password?</a>
                                </p>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">Login</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </body>
</html>